BorderPane{
    color-a: #0A369D;
    color-b: #4472CA;
    color-c: #92B4F4;
    color-error: #941B0C;
    color-selected: #1DAE4D;
    color-pane: #2754B4;
    color-pane-hoover: #0A369D;
    color-task-container-selected: #06256B;
    color-label-title-background: #5E7CE2;

    -fx-background-color: color-a;
}
AnchorPane{
    -fx-background-color: color-b;
}
Label{
    -fx-font-size: 12px;
    -fx-font-weight: 700;
    -fx-text-fill: white;
    -fx-background-radius: 5 5 5 5;
}
Separator{
    -fx-background-color: color-b;
    -fx-border-width: 0;
}
.button-auto-builder{
    -fx-font-size: 12px;
    -fx-font-weight: 700;
    -fx-background-radius: 2 2 2 2;
    -fx-background-color: color-c;
}
.button-auto-builder:hover{
    -fx-background-color: color-a;
}

.combo-box-autobuilder{
    -fx-background-color: color-c;
    -fx-font-size: 12px;
    -fx-font-weight: 700;
}

.combo-box-autobuilder .list-cell{
    -fx-background-color: color-c;
}

.combo-box-autobuilder .list-cell:hover{
    -fx-background-color: color-a;
    -fx-text-fill: white;
}

.combo-box-autobuilder .arrow{
    -fx-background-color: color-a;
}

.footer{
    -fx-background-color: color-c;
    -fx-background-radius: 2 2 2 2;
    -fx-text-fill: black;
}
.hbox-task:hover{
    -fx-background-color: color-pane-hoover;
    -fx-text-fill: white;
}

.hbox-task-selected{
    -fx-background-color: color-task-container-selected;
}

.hbox-task-label{
    -fx-font-size: 12px;
    -fx-font-weight: 300;
    -fx-text-fill: white;
}

.hbox-task-button{
    -fx-font-size: 12px;
    -fx-font-weight: 300;
    -fx-text-fill: white;
    -fx-background-radius: 3 3 3 3;
}
.label-task-info{
    -fx-font-size: 10px;
    -fx-text-fill: black;
}

.on{
    -fx-background-color: color-selected;
}

.off{
    -fx-background-color: color-error;
}
.progress-bar {
  -fx-accent: color-a; // Kolor zawartości progress bar pokauzjący poziom wczytania/załadowania progress bar.
}

.progress-bar > .track {
  -fx-text-box-border: color-c;
  -fx-control-inner-background: color-c;
}
.vbox-imperium > .label{
    -fx-background-color: color-c;
    -fx-background-radius: 2 2 2 2;
    -fx-text-fill: black;
    -fx-font-size: 10px;
    -fx-padding: 0.0 2.5 0.0 2.5; //top right bottom left
}

.vbox-imperium > .label-title{
    -fx-background-color: color-label-title-background;
}

.vbox-imperium-data > .label{
    -fx-background-color: color-c;
    -fx-background-radius: 2 2 2 2;
    -fx-text-fill: black;
    -fx-font-size: 10px;
    -fx-padding: 0.0 2.5 0.0 2.5; //top right bottom left
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.vbox-imperium-data > .label-title{
    -fx-background-color: color-label-title-background;
}

.label-connected{
    -fx-background-color: color-selected;
}
.label-disconnected{
    -fx-background-color: color-error;
}
/* Zmiana tła scroll-pane*/
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-pane {
   -fx-background-color: transparent;
}
/* Róg na połączeniu scroll-pane poziomego i pionowego*/
.scroll-pane > .corner {
    -fx-background-color: transparent;
}
/*Scroll-bar - tło*/
.scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-pref-width: 12;
}

/*Tło pasaka przeuswania*/
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 5em;
}
/*Przycisk przesuwania*/
.scroll-bar:vertical .thumb {
    -fx-background-color: color-a;
    -fx-background-radius: 1em;
}
/*Tło pasaka przeuswania*/
.scroll-bar:horizontal .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 5em;
}
/*Przycisk przesuwania*/
.scroll-bar:horizontal .thumb {
    -fx-background-color: color-a;
    -fx-background-radius: 1em;
}
/*Scroll-bar - tło*/
.scroll-bar:horizontal{
    -fx-background-color: transparent;
    -fx-pref-width: 12;
}
/*Przyciski ikrementacji i dekrementacji bez znaku w środku nich*/
.scroll-bar .increment-button,.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
/*Znaki ikrementacji i dekrementacji*/
.scroll-bar .increment-arrow,
  .scroll-bar .decrement-arrow{
      -fx-shape : " ";
      -fx-padding :0.15em 0.0;
 }